/* Resetting default margin/padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans'; 
}
  
/* Header styling */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

footer {
    text-align: center;
}

.logo img {
height: 75px; /* Adjust height as needed */
/* Add any additional logo styling */
}

.menu-and-search {
display: flex;
align-items: center;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex; /* Display menu items horizontally */
}

nav ul li {
margin-right: 20px;
}

/* Search icon styles */
.search-icon {
position: relative;
}

.search-icon .search-box {
display: none;
position: absolute;
top: 100%;
right: 0;
background-color: #fff;
border: 1px solid #ccc;
padding: 5px;
z-index: 2;
}

.search-icon.active .search-box {
display: flex;
align-items: center;
}

.search-box input[type="text"] {
padding: 8px;
margin-right: 5px;
}

.search-box button {
padding: 8px 15px;
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
}

/* Separator styling */
.separator {
margin: 20px 0;
border: 0;
height: 1px;
background-color: #ccc; /* Color of the separator line */
}

/* Intro section styling */
.intro-section {
padding: 50px 0;
text-align: center;
color: #fff;
}

/* Content styling */
.content {
padding: 20px;
}

table {
width: 100%;
border-collapse: collapse;
}

table td {
border: 1px solid #ccc;
padding: 10px;
}
  