<!DOCTYPE html>
<html lang="english">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Network, System, Cloud">
        <meta name="description" content="Telcobox is a platform focusing on the integration of cloud computing and networking, and is creating informative content." />
        <meta name="author" content="Bugra Kilic">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" sizes="32px" type="image/x-icon" href="{{ url_for('static', filename='images/tb_red_large.png') }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->

        <!-- Javascript section -->
        <script>
                document.addEventListener("DOMContentLoaded", function() {
                  const searchIcon = document.querySelector('.search-icon');
                  const searchBox = document.querySelector('.search-box');

                  searchIcon.addEventListener('click', function(event) {
                    event.stopPropagation(); // Prevents click event from reaching document
                    this.classList.toggle('active');
                  });

                  searchBox.addEventListener('click', function(event) {
                    event.stopPropagation(); // Prevents click event from reaching document
                  });

                  // Close search box when clicking anywhere outside of it
                  document.addEventListener('click', function() {
                    searchIcon.classList.remove('active');
                  });
                });
        </script>
</head>

<body>
        <header>
                <div class="logo">
                        <a href="https://telcobox.net"><img src="static/images/logo-black-png.png" alt="Telcobox Logo"></a>
                </div>
                <div class="menu-and-search">
                        <nav>
                                <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Resources</a></li>
                                        <li><a href="#">Glossary</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <!-- Add more menu items as needed -->
                                </ul>
                        </nav>
                        <div class="search-icon">
                                <i class="fas fa-search"></i>
                                <div class="search-box">
                                <input type="text" placeholder="Search...">
                                <button>Search</button>
                                </div>
                        </div>
                </div>
        </header>
        <main>
        <div class="intro-section" style="background-color: #A60000;">
                <h1>Driving cloud networking for telecommunications</h1>
                <p>Focus on the integration of cloud computing and telecommunications, and build an innovative approach to develop the networking industry. </p>
        </div>

        <!-- main page body content -->
        <div class="content">
                <table>
                        <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                        </tr>
                        <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                        </tr>
                        <!-- Add more rows and cells as needed -->
                </table>
        </div>

        <hr class="separator">

        </main>
        <footer>
                <div>
                        <a href="mailto:hello@telcobox.net" target="_blank"><img src="static/images/email.png" alt="email"></a>
                        <a href="https://twitter.com/telcobox" target="_blank"><img src="static/images/twitter.png" alt="twitter"></a>
                        <a href="https://github.com/telcobox" target="_blank"><img src="static/images/github.png" alt="github"></a>
                        <!-- <a href="https://telcobox.substack.com/" target="_blank"><img src="resources/newsletter.png" alt="substack"></a> --> 
                </div>
                <br>
                <div>
                        <address>
                        Powered by <a rel="nofollow" href="https://flask.palletsprojects.com/">Flask</a> and <a rel="nofollow" href="https://www.python.org/">Python</a>. 
                        Hosted on <a rel="nofollow" href="https://pages.github.com/">GitHub Pages</a>. 
                        </address>
                </div>
                <br>
                <div>
                        <address>Copyright © 2024, Telcobox. All rights reserved. </address>
                </div>
        </footer>
</body>
</html>